*{
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    min-height: 100%;
    height: 100%;
}

html body{
    height: 100%;
}

.eyes{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: blue;
}

.eyes section{
    width: 50%;
    height: 100%;
    background-size: 500px 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.eyes.begging .right{
    background-image: url(img/eyes/right/begging.svg);
}

.eyes.blink .right{
    background-image: url(img/eyes/right/blink.svg);
}

.eyes.happy .right{
    background-image: url(img/eyes/right/happy.svg);
}

.eyes.default .right{
    background-image: url(img/eyes/right/default.svg);
}

.eyes.heart .right{
    background-image: url(img/eyes/right/heart.svg);
}

.eyes.tired .right{
    background-image: url(img/eyes/right/tired.svg);
}

.eyes.begging .left{
    background-image: url(img/eyes/left/begging.svg);
}

.eyes.blink .left{
    background-image: url(img/eyes/left/blink.svg);
}

.eyes.happy .left{
    background-image: url(img/eyes/left/happy.svg);
}

.eyes.default .left{
    background-image: url(img/eyes/left/default.svg);
}

.eyes.heart .left{
    background-image: url(img/eyes/left/heart.svg);
}

.eyes.tired .left{
    background-image: url(img/eyes/left/tired.svg);
}
