*{
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    min-height: 100%;
    height: 100%;
}

html body{
    height: 100%;
    }

    .eyes {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: blue;
    }

.eyes section{
    width: 50%;
    height: 100%;
    background-size: 500px 500px;
    background-position: center;
    background-repeat: no-repeat;
}

.begging {
    background-image: url(img/eyes/left/begging.svg);
}

.blink {
    background-image: url(img/eyes/left/blink.svg);
}

.happy {
    background-image: url(img/eyes/left/happy.svg);
}

.default {
    background-image: url(img/eyes/left/default.svg);
}

.heart {
    background-image: url(img/eyes/left/heart.svg);
}

.tired {
    background-image: url(img/eyes/left/tired.svg);
}
